body {
    font-family: "Roboto";
}
.registration-form {
    box-shadow: inset 0 0 0 1000px rgba(100, 94, 94, 0.2);
}
.signup-container {
    display:flex;
    flex-flow: column;
    background-image: url('../../images/img-8.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
}

.registration-form h1 {
    color: #d15116;
    font-size: 50px;
    margin: 8px;
    text-shadow: 5px 2px 4px grey;
}

.registration-form header{
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.registration-form p {
    margin: auto;
    color: #baa50a;
    font-size: 30px;
    margin: 8px;
    text-align: center;
}

.form-container {
    align-items: center;
    text-align: center;
    /* display: flex;
    flex-flow: column; */
}

.input-section {
    /* display: inline; */
    text-align: center;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-bottom: 10px;
}

.input-section input {
    width: 60%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border-color: rgb(112, 112, 245);
    text-indent: 10px;
    padding-left: 50px;
    padding-right: 10px;
}

.input-section i {
    position: absolute;
    color:#242424;
    font-size: 30px;
    padding: 15px 0 15px 20px;
    min-width: 40px;
    margin-left: 5px;
}

button {
    margin: auto;
    color: #baa50a;
    font-size: 20px;
    margin: 8px;
    padding:20px;
    text-align: center;
    background-color:#242424;
}

button:hover {
    background-color:#fff
}